* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  max-width: 700px;
  max-height: 500px;
  background-color: rgb(160, 228, 255) !important;
}

@keyframes show {
  0% {
    left: 700px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: -600px;
  }
}

#background {
  position: absolute;
  bottom: 0;

  animation: show 8s linear;
  animation-iteration-count: infinite;
}

.rock {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(43, 43, 43);
}

.rock__1 {
  bottom: -50px;
  left: 100px;
  transform: rotate(40deg);
}

.rock__2 {
  bottom: -60px;
  left: 170px;
  transform: rotate(40deg);
}

.rock__3 {
  bottom: -80px;
  left: 230px;
  transform: rotate(40deg) scale(0.9);
}

.rock__4 {
  bottom: -80px;
  left: 360px;
  border-radius: 30%;
  transform: rotate(40deg);
}

.rock__5 {
  bottom: -50px;
  left: 500px;
  transform: rotate(45deg) scale(0.6);
}

.tree {
  position: absolute;
  width: 30px;
  height: 40px;
}

.tree__1 {
  bottom: 0;
  background: no-repeat center/130% url("./tree-5202.svg");
  left: 10px;
}

.tree__2 {
  bottom: -7px;
  background: no-repeat center/71% url("./tree-5202.svg");
  left: 327px;
}

.tree__3 {
  background: no-repeat center/100% url("./tree-5202.svg");
  bottom: -3px;
  left: 480px;
}

@keyframes move {
  0% {
    left: -80px;
  }
  50% {
    left: 240px;
  }
  100% {
    left: 630px;
  }
}

#truck {
  background: no-repeat center/100% url("./delivery-truck-svgrepo-com.svg");
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: -36px;
  animation: move 5s linear;
  animation-iteration-count: infinite;
}

#land {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 2px;
}
