* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#search {
  margin: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgb(202, 202, 202);
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#search img {
  width: 50px;
  height: 50px;
}

#close::before {
  content: "\2716";
  color: #000000;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  cursor: pointer;
}

input[type="text"] {
  position: absolute;
  top: 400px;
  left: 10px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  visibility: hidden;
}

#container #close {
  visibility: hidden;
}

#container.active input[type="text"],
#container.active #close {
  visibility: visible;
}

#container.active img {
  opacity: 0;
  visibility: hidden;
}

#container.active #search {
  transform: scale(500);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
