* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#slider {
  max-width: 3000px;
  max-height: 1200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#slider #images-wrapper {
  display: flex;
  position: relative;
  left: 0%;
}
