button {
  font-size: larger;
}

.toast {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 5px 10px;
  max-width: 300px;
}

.toast-success {
  background-color: rgb(88, 190, 85);
  transform: translateX(-600px);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toast.toast-success.active {
  transform: translateX(10px);
}

.toast.active::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 255, 136);
  animation: timeBarAlert 3s linear;
}

@keyframes timeBarAlert {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
