* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form#container {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #efefef;
  min-width: 500px;
}

.input {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.input input {
  border: 1px solid #efefef;
  outline: none;
  font-size: 1.3rem;
  padding: 5px;
}

#form-controllers button {
  font-size: 1.2rem;
  border: 1px solid #efefef;
  padding: 5px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

#form-controllers button:hover {
  background-color: #949494;
}
