* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(148, 186, 255);
}

h1 span {
  display: block;
  text-align: right;
  width: 100%;
  color: rgb(61, 61, 61);
  font-size: 1.3rem;
}
